<!-- footer -->
<footer id="footer">
  <div class="holder">
    <div class="footer-logo">
      <a href="https://www.redhat.com/" target="_blank"><img src="img/redhat.png" alt="redhat." width="256" height="82"></a>
    </div>
    <div class="powered-logo">
      <a href="https://www.openshift.com/" target="_blank"><img src="img/powered-by.png" alt="powered by openshift" width="180" height="48"></a>
    </div>
    <ul class="footer-social-networks">
      <li><a href="https://twitter.com/openshift" target="_blank" class="icon-twitter-square"></a></li>
      <li><a href="https://github.com/openshift/origin" target="_blank" class="icon-github"></a></li>
      <li><a href="https://plus.google.com/+OpenShift" target="_blank" class="icon-google"></a></li>
      <li><a href="https://www.facebook.com/openshift/" target="_blank" class="icon-facebook-square"></a></li>
    </ul>
  </div>
</footer>
<!-- End footer -->
