      <div class="top-bar">
        <div class="container">
            <a href="https://github.com/openshift/origin/releases" target="_blank" class="btn">DOWNLOAD</a>
            <a href="https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc" target="_blank" class="btn">CONTRIBUTE</a>
            <div class="menu">
              <a href="#" class="menu-btn"><span class="icon-opener"></span></a>
              <div class="dropdown">
                <div class="container">
                  <div class="cols">
                    <div class="col">
                        <strong class="title">Get Started</strong>
                        <p>Want to get started quickly and easily? Just <a href="https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container">run Origin in a Docker container</a> by itself.</p>
                    </div>
                     <div class="col">
                        <strong class="title">Documentation</strong>
                        <p>Want to get started quickly and easily? Just <a href="https://docs.openshift.org/latest/">run Origin in a Docker container</a> by itself.</p>
                    </div>
                     <div class="col">
                        <strong class="title">Community</strong>
                        <p>Want to get started quickly and easily? Just <a href="#community">run Origin in a Docker container</a> by itself.</p>
                    </div>
                     <div class="col">
                        <strong class="title">Blog</strong>
                        <p>Want to get started quickly and easily? Just <a href="https://blog.openshift.com/" target="_blank">run Origin in a Docker container</a> by itself.</p>
                    </div>
                  </div>
                  <div class="social-area">
                    <strong class="heading">Explore the community</strong>
                    <ul class="social-networks">
                      <li><a href="https://twitter.com/openshift" target="_blank"><i class="icon-twitter"></i></a></li>
                      <li><a href="https://github.com/openshift/origin" target="_blank"><i class="icon-github"></i></a></li>
                      <li><a href="https://openshift.slack.com/" target="_blank"><i class="icon-slack"></i></a></li>
                      <li><a href="http://stackoverflow.com/questions/tagged/openshift-origin" target="_blank"><i class="icon-stack-overflow"></i></a></li>
                      <li><a href="#community"><i class="icon-envelope"></i></a></li>
                      <li><a href="https://commons.openshift.org/briefings.html" target="_blank"><i class="icon-calendar"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
