---
title: All-In-One Virtual Machine for OpenShift Origin
---

<% content_for :header do %>
<div class="text-area">
  <p>All-In-One Virtual Machine (Version 1.3 alpha 3)</p>
  <p>Get Origin Up and Running From the Comfort of Your Own Laptop</p>
</div>
<% end %>

<% content_for :navbar do %>
<div class="top-bar">
  <div class="container">
      <a href="/index.html" class="btn">&lt; Back to home</a>
  </div>
</div>
<% end %>


<main role="main">
  <div class="article">
    <div class="holder">
      <h1>Welcome to the all-in-one VM for</h1>
      <p>
        <a href="https://github.com/openshift/origin">OpenShift Origin</a>
        , the FOSS PaaS from Red Hat. On this page you will find links to download:
      </p>
      <ul>
        <li>A Vagrant VirtualBox VM</li>
        <li>OpenShift client tools (oc) that match the release</li>
        <li>A document to help you run through some of the basic steps to exercise this image</li>
      </ul>
      <p>&nbsp;</p>
      <p>
        This image is based off of OpenShift Origin and is a fully functioning OpenShift
        instance with an integrated Docker registry. The intent of this project is to allow
        Web developers and other interested parties to run OpenShift V3 on their own computer.
        Given the way it is configured, the VM will appear to your local machine as if it was
        running somewhere off the machine.
      </p>
      <p>  This VM is built using the tools and scripts found in this <a href="https://github.com/openshift-evangelists/vagrant-origin">Github repository</a>. This
        VM is built by the OpenShift Evangelists so they can:
        <ol>
          <li>
            Have a method to try out developer builds before they are released
          </li>
          <li>
            Track the latest version of Origin
          </li>
          <li>
            Provide a VM Evangelists or others can use for Workshop and demos, emphasizing ease of use for the user and the least dependencies
          </li>
          <li>
            As a means to carry out local development for projects that will eventually be deployed to an OpenShift cluster
          </li>
        </ol>
      </p>
      <p>
        There are other free means to get OpenShift installed on your development machine:
        <ol>
          <li>
            If you want to get OpenShift Container Platform on RHEL - which means only released products rather than upstream software,
            you should use the <a href="http://developers.redhat.com/products/cdk/overview/">Red Hat Container Development Kit</a> (CDK).
            This is a maintained product with a large development team behind it.
          </li>
          <li>
            If you don't installing OpenShift into your local Docker engine, we highly reccomend "oc&nbsp;cluster&nbsp;up".
            The basic idea is you download the client tools from down below and then execute the command "oc&nbsp;cluster&nbsp;up".
            The command then proceeds to download all the Container Images required to run OpenShift and sets them up on your local machine.
            For more information you can do "oc&nbsp;cluster&nbsp;up&nbsp;-h"
          </li>
        </ol>
      </p>
      <p>&nbsp;</p>
      <p>
        The OpenShift Master, Node, Docker Registry, Metrics, Cockpit, and other pieces are running in one VM.
        Given it's focus on application developers, it should NOT be used in production. While the Vagrantfile
        only specifies 4 gigs of RAM, you can edit the file to increase or decrease this setting depending on
        how many containers you want to run in your instance.
      </p>
    </div>
  </div>
  <div class="note">
    <div class="holder">
        <p>
          <strong>WARNING:</strong> We wanted to allow developers to use any Docker image they
          want, which required us turning off some security in OpenShift. By default, OpenShift
          will not allow a container to run as root or even a non-random container assigned userid.
          Most Docker images in the Dockerhub do not follow this best practice and instead run
          as root. As a double negative, a large majority of Dockerhub images are not patched
          for well known vulnerabilities. Therefore, please use images from Dockerhub with
          caution. We think some of the risk is mitigated because you are running OpenShift in
          a VM, but still - be careful which Docker images you run.
        </p>

        <p>
          <strong>NOTE:</strong> As this is based off the Origin project and not the commercial
          OpenShift Enterprise product, support is limited to community effort.
        </p>
      </div>
    </div>
    <div class="article">
      <div class="holder">
      <h2>Install instructions</h2>
        <p>After you have installed Vagrant and VirtualBox, please: <br />
        <strong>Easiest instructions</strong>
        <ol>
          <li>Go to an empty directory</li>
          <li>In the directory, at the command line, run <pre>$ vagrant init openshift/origin-all-in-one</pre></li>
          <li><em>Optional</em> You can edit the generated Vagrantfile to give your machine more resources</li>
          <li>Then run <pre>$ vagrant up --provider=virtualbox</pre></li>
        </ol>
      <p>&nbsp;</p>
      <p>
        <strong> Updating previous versions</strong> <br />
        <ol>
          <li>Go to the directory where you previously ran <pre>$ vagrant up</pre></li>
          <li>Run the following command <pre>$ vagrant box update --box openshift/origin-all-in-one</pre></li>
          <li>You need to destroy and create the environment again</li>
          <li><pre>$ vagrant destroy --force </pre></li>
          <li><pre>$ vagrant up --provider=virtualbox </pre></li>
        </ol>
      <p>&nbsp;</p>
      <p>
        <strong> Uninstall</strong> <br />
        To remove a previous installation please do the following commands:
        <ol>
          <li>Change to the directory with your Vagrantfile</li>
          <li><pre>$ vagrant halt</pre></li>
          <li><pre>$ vagrant destroy --force</pre></li>
          <li><pre>$ vagrant box remove --force openshift/origin-all-in-one</pre></li>
          <li>Follow the normal installation instructions if you want to re-install</li>
        </ol>
      </p>
    </div>
  </div>

  <div class="downloads">
    <div class="holder">
      <h1>Downloads</h1>
      <p><strong>Required files:</strong></p>
      <ul>
        <li><a href="https://www.vagrantup.com/downloads.html">Vagrant</a> (may also be offered in your distro)
          - We have tested with 1.7.2, 1.7.4. Right now we are seeing a BAD SSH bug with 1.8.5, please get
          <a href="https://releases.hashicorp.com/vagrant/1.8.4/"> Vagrant 1.8.4</a></li>
        <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a> (again, may be offered in your distro)
          - We have tested with 4.3.30, 5.0.4. Do NOT get 5.1.x as that does NOT work with Vagrant yet.
          We would love to get feedback on newer versions.</li>
      </ul>
      <p><strong>Client tools:</strong></p>
      <ul>
        <li><a href="https://github.com/openshift/origin/releases/download/v1.3.0-alpha.3/openshift-origin-client-tools-v1.3.0-alpha.3-7998ae4-windows.zip" class="analytics">Windows 64-bit OpenShift Client tools</a></li>
        <li><a href="https://github.com/openshift/origin/releases/download/v1.3.0-alpha.3/openshift-origin-client-tools-v1.3.0-alpha.3-7998ae4-mac.zip" class="analytics">Mac 64-bit OpenShift Client tools</a></li>
        <li><a href="https://github.com/openshift/origin/releases/download/v1.3.0-alpha.3/openshift-origin-client-tools-v1.3.0-alpha.3-7998ae4-linux-64bit.tar.gz" class="analytics">Linux 64-bit OpenShift Client tools</a></li>
      </ul>
    </div>
  </div>
  <div class="note">
    <div class="holder">
      <h1>Feedback</h1>
      <p>Please send any and all feedback to <a href="mailto:thesteve0@redhat.com">TheSteve0</a>, but please note this is not an "officially supported" product.</p>
      <p>You can also come chat about it in <a href="irc://irc.freenode.org/#openshift">IRC at FreeNode, #openshift channel</a> with thesteve0 or jmorales</p>
    </div>
  </div>
</main>
